
html, body { 
    height: 100%; 
    width: 100%;
    background-color: white;
}
.mat-toolbar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: transparent;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 2em;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

.mat-toolbar-row{
    background-color: #1E1E1E;
    padding-left: 0em;
    padding-right: 0em;
}

.row-nav{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: stretch;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

  .label-logo-ng {
    font-size: 12rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding-bottom: 25px;
    padding-right: 20px;
  }
  .label-toolbar-title{
    text-decoration: none;
    margin-left: 30px;
    color: white;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .toolbar-icon{
   align-self: center;
  }


.tab-nav-menu{
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 1.3rem;
}


.sidenav-container {
    height: 100%;
    background-color: white;
  }

  .sidenav {
    width: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .sidenav-link.active{
    font-weight: 600;
  }