<mat-toolbar>
  <mat-toolbar-row>
    <span class="label-logo-ng">NG</span>
    <span class="label-toolbar-title">NADEZDA<br>GOLYSHEVA</span>
  </mat-toolbar-row>
</mat-toolbar>
<nav 
  mat-tab-nav-bar class="tab-nav-menu" 
  mat-stretch-tabs="false" 
  mat-align-tabs="end" 
  [tabPanel]="tabPanel" 
  disableRipple="true">
    <span mat-tab-link
    appearance="none"
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">{{link.label}}</span>
</nav>
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
