<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" [autoFocus]="false" >
    <mat-nav-list>
      <a mat-list-item
      class = "sidenav-link"
      [routerLinkActiveOptions]="{exact: true}"
      [state]="link.isActive"
      *ngFor="let link of navLinks" 
      [routerLink]="link.link"
      routerLinkActive #rla="routerLinkActive"
      [activated]="rla.isActive"
      [ngClass]="{'active': rla.isActive}"
      (click)="sidenav.close()">
        {{ link.label }}
    </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar>
  <mat-toolbar-row>
    <a href="." class="label-logo-ng" *ngIf="!isSmallScreen">NG</a>
    <a href="." class="label-toolbar-title" >NADEZDA<br>GOLYSHEVA</a>
    <div class="spacer"></div>
  <button mat-icon-button
  (click)="sidenav.toggle()"
  *ngIf="!hideSideMenu">
    <mat-icon>menu</mat-icon>
  </button>
  </mat-toolbar-row>
  <mat-toolbar-row class="row-nav">
    <nav 
    mat-tab-nav-bar class="tab-nav-menu" 
    mat-stretch-tabs="true" 
    fitInkBarToContent="true"
    mat-align-tabs="end" 
    [tabPanel]="tabPanel" 
    *ngIf="hideSideMenu"
    disableRipple="true">
      <span mat-tab-link
      appearance="none"
      *ngFor="let link of navLinks"
      [routerLink]="link.link"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">{{link.label}}</span>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
  </mat-sidenav-content>
</mat-sidenav-container>