<div class="container-home">
<img src="/assets/locandina.jpg" alt="image" class="immagine-locandina">
<p class="label-home">[….] Le sue sculture, impressioni del proprio corpo o composizioni che prendono ispirazione dalle superfici murarie dell’ambiente lagunare, hanno qualcosa dell’archeologico e del transitorio.

    Mostrano il presente come un’epoca già passata, relativizzando la nostra presunta contemporaneità in calchi e ritrovamenti che si mostrano come quelli ormai celebri e drammatici di Pompei</p>
</div>