<div class="container-home">
    <div class="main-left">
        <img src="/assets/locandina-main.png" alt="image" class="immagine-locandina">
    </div>
    <div class="main-right">
        <p class="label-home-title">Scultura come pelle</p>
    <p class="label-home">
        Che cos’è l’Io se non quella
        superficie di demarcazione
        tra l’interno e l’esterno? Più che un insieme di organi, pensieri
        e anime contenute dalla nostra pelle, l’essere sembra potersi descrivere meglio da quel diaframma, l’epidermide stessa,
        che contemporaneamente separa e mette in comunicazione la personalità con tutto il mondo fuori da essa. Così, non esiste una cellula di essenza che deve proteggersi dall’universo ma entrambe le parti in gioco – Io e mondo – premono sulla sostanza minimale della pelle definendoci come esseri viventi.<br>
        Nadezda Golysheva fa propria questa convinzione sviluppando la propria pratica scultorea come un sottile velo in grado di assumere la forma degli oggetti e dei corpi con cui viene a contatto. Altre volte è la procedura classica del calco e declinare rapporti di superficie, dando vita tanto a “negativi” malinconici per ciò che possiamo intuire essere stato presente e non più visibile, quanto a “positivi” che declinano “alla seconda” le possibilità di tale pratica scultorea tradizionale.<br>
        Parlando del lavoro di Giuseppe Penone, artista familiare agli espedienti di frottage e impronta, Georges Didi-Huberman
        afferma: “Essere scultura sarebbe dunque essere pelle? Sarebbe, più precisamente, essere una pelle capace di dare a tutto quello
        che tocca la relativa eternità delle impronte”. E per Golysheva questa pelle è principalmente quella di Venezia, grazie alla quale
        si moltiplicano e rilanciano gli strati della sua storia e, con essi,
        il legame individuale-collettivo di uomini e donne con l’ambiente attorno a sé.<br>
        Le sue sculture, impressioni del proprio corpo o composizioni che prendono ispirazione dalle superfici murarie dell’ambiente 
        lagunare, hanno qualcosa dell’archeologico e del transitorio. Mostrano il presente come un’epoca già passata,
         relativizzando la nostra presunta contemporaneità in calchi e ritrovamenti che si mostrano come quelli ormai celebri e drammatici di Pompei.</p>
    <p class="label-home-footer">Gabriele Salvaterra</p>
    </div>
</div>